.turno-container {
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-bottom: 10px; 
    background-color: #fff; 
    border-radius: 10px; 
    text-align: left; 
}


.fecha, .duracion, .estado, .descripcion {
  margin-bottom: 5px; 
}

.fecha {
  font-weight: bold; 
}